:root {
  --primary-color: #f1c40f;
  --dark-blue: #2c3e50;
}

body, html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: block;
  background: #111111;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  overflow: hidden;
}

.container-codes {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  justify-items: center;
  align-items: center;
}

.buttons-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 1em;
}

button {
  min-width: 50px;
  min-height: 50px;
  width: 10%;
  margin: 2px;
  border: 0;
  background: var(--primary-color);
  border-radius: 8px;
  border: 1px solid var(--dark-blue);
  font-weight: 900;
  color: #111122;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover, .selected {
  background: #111111;
  color: whitesmoke;
}

.description {
  font-size: 5em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .description {
    font-size: 300%;
  }
}